[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Session = "*"
psycopg2 = "*"
SQLAlchemy = "*"
psycopg2-binary = "*"
requests = "*"
python-dotenv = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
flask-talisman = "*"

[dev-packages]

[requires]
python_version = "3.7"
